<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
     
    <h1>Departments</h1>
    <a href="/api/auth/logout">logout</a>
    <a href="/api/department/add">Add Department</a>
    <a href="/api/personal/all" class="">All Personal<a>
    
    <div>
        <% for(var i=0; i < department.length; i++) {%>
            <div>
                <p class="name"><%= department[i].department_name %></p>
                <a href="/api/department/edit/<%= department[i].id %>" class="">Edit Department</a>
                <a href="/api/personal/add/<%= department[i].id %>" class="">Add Personal<a>
                <a href="/api/personal/show/<%= department[i].id %>" class="">Personal<a>
                <form action="/api/department/delete/<%= department[i].id %>" method="POST" style="display:inline;">
                    <input type="submit" value="Delete Department" />
                </form>
            </div>
        <%} %>
    </ul>
</body>
<html>